{% extends "base.html" %}  
{%block content %} 
<div class="jumbotron"> 
    <h1>Czy ksiazka wymaga aktualizacji ? </h1> 
    <p1>Podaj nowe dane ksiazki</p1>   
    <form method="POST"> 
        {{form.hidden_tag()}}  
        {{form.id1.label}}{{form.id1()}} 
        {{form.tytul.label}}{{form.tytul()}}  
        {{form.autor.label}}{{form.autor()}}   
        {{form.data_pub.label}}{{form.data_pub()}}   
        {{form.ISBN_num.label}}{{form.ISBN_num()}}   
        {{form.liczba_stron.label}}{{form.liczba_stron()}}   
        {{form.okladka.label}}{{form.okladka()}}  
        {{form.jezyk.label}}{{form.jezyk()}}  
        {{form.submit()}} 

    </form>
</div> 
{% endblock %}